body{
    padding: 0;
    margin: 0;
}
#container{
    background-color: aqua;
    width: fit-content;
    height: fit-content;
}
#logo{
    width: 150px;
}
#banner{
    height: 150px;
    width: 1150px;
    
}
#botside{
    border-radius: 4rem;
}
